<section class="wrap">
    <div class="controls">
      <span class="grow"></span>
      <span class="total-count" *ngIf="(data$ | async) as d">Total: {{ d.totalCount }}</span>
    </div>

    <div class="error" *ngIf="(error$ | async) as err">{{ err }}</div>


    <div class="grid" *ngIf="(data$ | async) as d; else loadingTpl">
      <mat-card class="story-card" *ngFor="let it of d.items; trackBy: trackId">
        <button *ngIf="it.kids?.length"
        mat-icon-button
        class="badge-btn"
        [matBadge]="it.kids?.length || 0"
        [matBadgeHidden]="!(it.kids?.length)"
        matBadgeColor="accent"
        [matBadgeOverlap]="false"
        matBadgePosition="before"
        matBadgeSize="large"
        (click)="onComments(it)"
      >
      </button>
        <mat-card-header class="story-card-header">
          <mat-card-title>
            <h2 class="title">
            <a class="title-link"
                *ngIf="it.url; else noLink"
                [href]="it.url" target="_blank" rel="noopener">
                {{ it.title || '(no title)' }}
                <mat-icon class="title-icon" aria-hidden="true">open_in_new</mat-icon>
            </a>
            <ng-template #noLink>
                <span>{{ it.title || '(no title)' }}</span>
            </ng-template>
            </h2>
          </mat-card-title>
          <mat-card-subtitle>
          {{ it.time * 1000 | date:"MMM dd, yyyy 'at' HH:mm" }}
        </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="clamp" [innerHTML]="it.text || ''"></div>
        </mat-card-content>

        <mat-card-actions align="end">
          <span class="story-author">by {{ it.by || 'unknown' }}</span>
          
          <mat-icon inline>whatshot</mat-icon>
          <span>{{ it.score ?? 0 }}</span>
        </mat-card-actions>
      </mat-card>
    </div>

    <ng-template #loadingTpl>
      <div class="loading-wrap">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="56"
          aria-label="Loading stories">
        </mat-progress-spinner>
        <div class="loading-text">Loading…</div>
      </div>
    </ng-template>

    <mat-paginator
      [length]="(data$ | async)?.totalCount"
      [pageIndex]="page - 1"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPage($event)">
    </mat-paginator>
  </section>